body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.menu {
    padding: 10px;
}

.menu-item {
    margin-right: 3px;
}

.menu-item:last-child {
    margin-right: 0;
}
